<h1>{{ shop.url }}</h1>
{{ cart.attributes["Your name"] }}

{% schema %}
    {
        "name": "t:sections.test-block.name",
        "class": "wrapper-test-react",
        "settings": [
            {
                "type": "text",
                "id": "react",
                "label": "React",
                "default": "Buy it now and get two!"
            }
        ]
    }
{% endschema %}


{% javascript %}

{% endjavascript %}



{% stylesheet %}

{% endstylesheet %}

