$primary-color: blue

.wrapper-test-react
    background: $primary-color
    border-right: 50px

// shopify theme serve
// gulp

// test slider
.multicolumn
    .slider-mobile-gutter 
        ul 
            flex-wrap: inherit
            border: 1px dashed red
