$primary-color: green

.wrapper-test-react
    background: $primary-color
    border-right: 50px

// shopify theme serve
// gulp

// test slider
.multicolumn
    .slider-mobile-gutter 
        ul 
            flex-wrap: inherit
            border: 1px dashed red

.multicolumn
    .slider-mobile-gutter 
        ul li
            display: block

slider-component .ul_ 
    .multicolumn-card
        position: relative
        .multicolumn-card__info 
            padding: 0 !important
            a
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                font-size: 0
                color: transparent
        .multicolumn-card__image-wrapper
            margin: 0 !important
